<h1>Critics</h1>
<table id="critics_table">
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th>Reviews</th>
    <th>Subscription</th>
  </tr>
  <% @critics.each do |c| %>
    <tr>
      <td><%= link_to c.name, critic_path(c.id) %></td>
      <td><%= c.bio %></td>
      <td>
        <table>
          <% c.reviews.each do |r| %>
            <tr>
              <td>Get movie name by ID somehow</td>
              <td><%= r.rating %></td>
              <td><%= r.text %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <% if current_viewer.critics.include? c %>
        <td><%= button_to "Unsubscribe", movies_path, :class => "button medium", :method => :get %></td>
      <% else %>
        <td><%= button_to "Subscribe", movies_path, :class => "button medium", :method => :get %></td>
      <% end %>
    </tr>
  <% end %>
</table>