<h1>Movies</h1>

<table id="movies_table">
  <tr>
    <th>Title</th>
    <th>Average Rating</th>
    <th>Review</th>
    <th>Subscription</th>
  </tr>
  <% @movies.each do |m| %>
    <tr>
      <td><%= link_to m.name, movie_path(m.id) %></td>
      <td><%= m.avg_rating %></td>
      
      <td><%= button_to "Review", new_path(id: m), :class => "button medium", :method => :patch %></td>
      <% if current_viewer.movies.include? m %>
        <td><%= button_to "Unsubscribe", unsubscribe_path(id: m), :class => "button medium", :method => :patch %></td>
      <% else %>

        <td><%= button_to "Subscribe", subscribe_path(id: m), :class => "button medium", :method => :patch %></td>
      <% end %>
    </tr>
  <% end %> 
</table>