<h1>Your Subscriptions</h1>
<table id="viewers_buttons">
  <tr>
    <th><h3>Movie Subscriptions</h3></th>
    <th><h3>Critic Subscriptions</h3></th>
  </tr>
  <tr>
    <td>
      <table class="list_table">
        <% current_viewer.movies.each do |m| %>
          <tr>
            <td><%= link_to m.name, movie_path(m.id) %></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table class="list_table">
        <% current_viewer.critics.each do |c| %>
          <tr>
            <td><%= link_to c.name, critic_path(c.id) %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td><%= button_to "Explore Movies", movies_path, :class => "button medium", :method => :get %></td>
    <td><%= button_to "Explore Critics", critics_path, :class => "button medium", :method => :get %></td>
  </tr>
</table>

<% if current_viewer.has_role? :critic%>
  <%="You are a Critic"%>
<% else %>
  <%="You are a Viewer"%>
<%end%>
<%= button_to "Become a Critic", becomecritic_path, :class => "button medium", :method => :patch %>

<br>
<h3>Notes</h3>
<b>REMOVE</b> - Compute avg_rating; should be out of 100 and integer<br>