<h1>Reviews</h1>

<!--<%= button_to "Create Review", new_path(), :class => "button medium", :method => :patch %>-->

<table id="reviews_table">
  <tr>
    <th>Title</th>
    <th>Critic</th>
    <th>Rating</th>
    <th>Review</th>
    <% if current_viewer.has_role? :critic %>
      <th>Delete</th>
    <% end %>
  </tr>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.movie.name %></td>
      <td><%= r.critic.name if r.critic != nil%></td>
      <td><%= r.rating %></td>
      <td><%= r.text %></td>
      <% if current_viewer.has_role? :critic %>
        <td><%= button_to "Delete Review", delete_path(id: r.id), :class => "button medium", :method => :patch %></td>
      <% end %>
    </tr>
  <% end %>
</table>